.footer{
    border: 1px solid rgb(0, 0, 0);
    height: 10vh;
    background-color: black;
    color: white;
}
.links{
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem;
    gap: 1rem;
}