.header {
  padding: 0rem;
}
.article {
  position: relative;
  text-align: center;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 80vh;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(59, 40, 40, 0.527);
  text-align: center;
  h1{
    color: white;
    font-size: 4rem;
    margin: 0;
  }
  h2{
    color: white;
    font-size: 2rem;
    margin: 0;
  }
}
