.header {
  padding: 0rem;
}
.article {
  position: relative;
  text-align: center;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 80vh;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(59, 40, 40, 0.527);
  text-align: center;
  h1{
    color: var(--textColor);
    font-size: 4rem;
    margin: 0;
  }
  h2{
    color: var(--textColor);
    font-size: 2rem;
    margin: 0;
  }
}

.overlay[data-position='top-left'] {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
}

.overlay[data-position='top-right'] {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
  padding: 2rem;
}

.overlay[data-position='bottom-left'] {
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
}

.overlay[data-position='bottom-right'] {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding: 2rem;
}

.overlay[data-position='center'] {
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 800px) {
  .overlay {
    h1{
    font-size: 2rem;
    margin: 1rem;
    }
    h2{
      font-size: 1rem;
    }
  }
 
}
@media (max-width: 1000px) {
  .overlay {
    h1{
    font-size: 2rem;
    margin: 1rem;
    }
    h2{
      font-size: 1rem;
    }
  }
}