.header {
  padding: 0rem;
}
.article {
  position: relative;
  text-align: center;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 80vh;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(119, 79, 79, 0.336);
  text-align: center;
}
