.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
  margin: 3.5rem 1rem;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 border-radius: 1rem;
 padding: 1rem 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
  text-align: center;
  
}

.image {
  object-fit: cover;
  width: 100%;
  height: 60vh;
  border-radius: 1rem;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 0.6rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 90%;
  text-decoration: none;
  text-align: center;
  
}
@media (max-width: 800px) {
   .card{
    grid-template-columns: 1fr;
    gap: 2rem;
   }
  }