.card {
  display: flex;
  flex-direction: column;
   flex-wrap: wrap; 
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 1rem;
   width: 20rem;
   height:fit-content;
  margin: 1rem auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  padding: 1rem 0;
}

.card:hover {
  transform: translateY(-4px);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  object-fit: cover;
  border-radius: 0.75rem;
   padding: 1.5rem;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}
.courseDescription{
 height: fit-content;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;

}
.content {
  text-align: center;
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.price {
  color: #0070f3;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.people {
  color: #555;
  margin-bottom: 0.5rem;
}

.description {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 90%;
   padding: 1.5rem;
}



.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 0.6rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 90%;
    text-decoration: none;
  text-align: center;
  
  
}

.button:hover {
  background-color: #0059c9;
}
