.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
   margin: 1.5rem 3rem;
}
.header {
  font-size: 3rem;
  text-align: center;
  text-decoration: none;

}

.main {
  margin: 1.5rem 3rem;
  padding: 0 auto;
}
