:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: rgba(228, 227, 224, 0.836);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;

  
}
.course{
  h2{
    text-align: center;
    font-size: 6rem;
   
  }
}
@media (max-width: 800px) {
   .course{
 h2{
      font-size: 4rem;
    }
  }
 
}
@media (max-width: 1000px) {
 
}


.blog{
    h2{
    text-align: center;
    font-size: 6rem;
   
  }
  
  @media (max-width: 700px) {
    h2{
      font-size: 4rem;
    }
  
  }

}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin: 40px 0;
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;

  @media (max-width: 1024px) {
    margin: 24px 0;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
    line-height: 32px;
  }
}

p {
  margin: 0px 0;
  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

