.main{
    display: grid;
  padding: 2rem;
  gap: 2rem;
  border: 1px solid white;
}
.article{
    position: relative;
    text-align: center;
}
.imageContainer{
    position: relative;
    border: 1px solid white;
    width: 100%;
    height: 80vh;
}
.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}