.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
   margin: 1.5rem 3rem;
}
.header {
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
}
.main {
  background-color: beige;
  text-align: center;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.content {
  margin: 1.5rem 3rem;
  padding: 0 auto;
}
